<div class="container">

  <div id="search-form">
    <%= form_with url: search_sites_path, method: :get, local: true do |f| %>
        <%= f.text_field :title, placeholder: "search", class: "sbox" %>
        <%= f.submit "検索", class: "sbtn" %>
    <% end %>
  </div>

  <h1 class="title-text">CATEGORY</h1>
  <div class="category-wrap">
    <div class="categories">
        <div class="category">
          <div class="category-pic"><%= image_tag 'pic.png' %></div>
          <p>
            <%= link_to tag_path(@tag1.id) do %>
              <%= @tag1.name %>
            <% end %>
          </p>
        </div>
        <div class="category">
          <div class="category-pic"><%= image_tag 'illust.png' %></div>
          <p>
            <%= link_to tag_path(@tag2.id) do %>
              <%= @tag2.name %>
            <% end %>
          </p>
        </div>
        <div class="category">
          <div class="category-pic"><%= image_tag 'icon.png' %></div>
          <p>
            <%= link_to tag_path(@tag3.id) do %>
              <%= @tag3.name %>
            <% end %>
          </p>
        </div>
        <div class="category">
          <div class="category-pic"><%= image_tag 'silhouette.png' %></div>
          <p>
            <%= link_to tag_path(@tag7.id) do %>
              <%= @tag7.name %>
            <% end %>
          </p>
        </div>
        <div class="category">
          <div class="category-pic"><%= image_tag 'texture.png' %></div>
          <p><%= @tag8.name %></p>
        </div>
        <div class="category">
          <div class="category-pic"><%= image_tag 'pattern.png' %></div>
          <p><%= @tag9.name %></p>
        </div>
    </div>
  </div>

  <div class="ranking">
    <h1 class="title-text">RANKING</h1>

    <%= render "public/sites/list", sites: @sites, thumbnail: @thumbnail %>

  </div>

</div>