<% sites.each do |site| %>
  <div>
    <span>
      <%= link_to site.url do %>
        <%= image_tag thumbnail + site.url %>
      <% end %>
    </span>
    <%= link_to site.url do %>
      <%= site.title %>
    <% end %>
    <%= site.introduce %>
    <% site.tags.each do |tag| %>
      <span style="padding:4px;background-color:lightgray;border-radius: 4px;"><%= tag.name %></span>
    <% end %>

    <!--ブックマーク機能-->
    <span id="bookmark_buttons_<%= site.id %>">
      <%= render "public/bookmarks/bookmark", site: site %>
    </span>

    <%= link_to "コメント", site_path(site.id) %>
  </div>
<% end %>
<%= will_paginate sites, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>