<h1>ユーザー用サイト一覧</h1>

<% @sites.each do |site| %>
  <div>
    <%= image_tag site.thumbnail %>
    <%= link_to site.url do %>
      <%= site.title %>
    <% end %>
    <%= site.introduce %>
    <% site.tags.each do |tag| %>
        <span style="padding:4px;background-color:lightgray;border-radius: 4px;"><%= tag.name %></span>
    <% end %>

    <!--ブックマーク機能-->
    <% if site.bookmarked_by?(current_user) %>
      
        <%= link_to site_bookmarks_path(site.id), method: :delete do %>
          ♥<%= site.bookmarks.count %>
        <% end %>
      
      <% else %>
      
        <%= link_to site_bookmarks_path(site.id), method: :post do %>
          ♡<%= site.bookmarks.count %>
        <% end %>
      
    <% end %>
  </div>
<% end %>