<h1>サイト一覧</h1>

<% @sites.each do |site| %>
  <div>
    <span><%= image_tag @thumbnail + site.url %></span>
    <%= link_to site.url do %>
      <%= site.title %>
    <% end %>
    <%= site.introduce %>
    <% site.tags.each do |tag| %>
        <span style="padding:4px;background-color:lightgray;border-radius: 4px;"><%= tag.name %></span>
    <% end %>

    <!--ブックマーク機能-->
    <span id="bookmark_buttons_<%= site.id %>">
      <%= render "public/sites/bookmark", site: site %>
    </span>
    
    <%= link_to "コメント", site_path(site.id) %>
  </div>
<% end %>