<div class="public-sites-show">
  <div class="public-sites-show-wrap">
    <span style="padding: 4p"><%= link_to "< 戻る", sites_path %></span>
    <div class="public-site-show">
      <%= link_to @site.url do %>
        <h2 class="site-title"><%= @site.title %></h2>
      <% end %>

      <div class="site-thumbnail">
        <%= link_to @site.url do %>
            <%= image_tag @thumbnail + @site.url %>
        <% end %>
      </div>

      <!--ブックマーク機能-->
      <div class="site-bookmark">
        <span id="bookmark_buttons_<%= @site.id %>">
          <%= render "public/bookmarks/bookmark", site: @site %>
        </span>
      </div>

      <!--カテゴリ-->
      <div class="site-category">
      <% @site.tags.each do |tag| %>
        <%= link_to tag_path(tag.id) do %>
          <span style="padding:4px;background-color:lightblue;border-radius: 4px;"><%= tag.name %></span>
        <% end %>
      <% end %>
      </div>

      <p class="site-introduce">
        <%= @site.introduce %>
      </p>

      <div class="site-cmc-cr">
        <p>商用利用：<%= @site.commercial_use ? '可能' : '不可' %></p>
        <p>クレジット表記：<%= @site.credit_notation ? '必要' : '不要' %></p>
      </div>
    </div>


    <div class="comment-list-form">
      <!--コメント一覧部分-->
      <div id="comments_area">
        <%= render 'public/comments/site_comments', site: @site, comment: @comment %>
      </div>

       <!--コメントフォーム-->
      <% if user_signed_in? %>
      <div class="new-comment">
        <%= render 'public/comments/form', site: @site, comment: @comment %>
      </div>
      <% end %>
    </div>

  </div>
</div>