<h1>サイト詳細</h1>

<span><%= image_tag @thumbnail + @site.url %></span>
<%= @site.title %>
<%= @site.introduce %>
<% @site.tags.each do |tag| %>
  <span style="padding:4px;background-color:lightgray;border-radius: 4px;"><%= tag.name %></span>
<% end %>

<span id="bookmark_buttons_<%= @site.id %>">
  <%= render "public/sites/bookmark", site: @site %>
</span>

<!--コメントフォーム-->
<div class="new-comment">
  <%= form_with(model:[@site, @comment], url: site_comments_path(@site.id), local: true) do |f| %>
    <!--エラーメッセージ-->
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<!--コメント一覧部分-->
<div class="comments">
  <% if @site.comments.present? %>
  <p>コメント件数：<%= @site.comments.count %></p>
  <% @site.comments.each do |comment| %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to "削除", site_comment_path(comment.site, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      </div>
    <% end %>
  <% end %>
  <% else %>
  <p>コメントはまだありません</p>
  <% end %>
</div>