<h1 class="admin-tag-title">タグ</h1>
<div class="admin-tag-new">
  <div class="admin-tag-new-form">
    <h2>新規登録</h2>
    <%= form_with model: @tag, url: admin_tags_path, local:true do |f| %>
      <%= f.label :name, 'タグ名' %>
      <%= f.text_field :name %>
      <%= f.submit '作成' %>
    <% end %>
  </div>
</div>

<div class="admin-tag-lists">
  <div class="admin-tag-lists-wrap">
    <h2>タグ一覧</h2>
    <% @tags.each do |tag| %>
      <div class="admin-tag-list">
        <%= tag.name %>
        <div class="admin-tag-btn">
          <%= link_to "編集", edit_admin_tag_path(tag.id), class: '' %>
          <%= link_to "削除", admin_tag_path(tag.id), method: :delete, data: {confirm: "削除しますか？"}  %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>