<h2>会員ログイン</h2>

<%= render "public/shared/error_messages" %>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <div class="">
    新規登録は
    <%= link_to 'こちら', new_user_registration_path %>
    から
  </div>



<% end %>
