<h1>マイページ</h1>

<%= current_user.email %>

<%= link_to '編集' ,user_bookmarks_path(current_user.id) %>

<div>
  <h2>ブックマーク一覧</h2>
<% @bookmarks.each do |bookmark| %>
  <div>
  <%= image_tag bookmark.site.thumbnail %>
  <%= link_to bookmark.site.url do %>
    <%= bookmark.site.title %>
  <% end %>
  <!--ブックマーク機能-->
  <% if bookmark.site.bookmarked_by?(current_user) %>
    <%= link_to site_bookmarks_path(bookmark.site.id, mypage: true), method: :delete do %>
      ♥<%= bookmark.site.bookmarks.count %>
    <% end %>
  <% else %>
    <%= link_to site_bookmarks_path(bookmark.site.id), method: :post do %>
      ♡<%= bookmark.site.bookmarks.count %>
    <% end %>
      
  <% end %>
  <%= bookmark.site.introduce %>
  </div>

  
<% end %>
</div>