<div class="admin-site-form">
    <div class="admin-site-form-with">
    <h2>サイト編集</h1>
    <%= form_with model: @site, url: admin_site_path, local:true do |f| %>
      <div class="admin-site-form-with-field">
        <%= f.label :title, 'サイト名' %>
        <%= f.text_field :title, :size=>"120" %>
      </div>

      <div class="admin-site-form-with-field">
        <%= f.label :url, 'URL' %>
        <%= f.text_field :url, :size=>"120" %>
      </div>

      <div class="admin-site-form-with-field">
        <%= f.label :introduce, '説明文' %>
        <%= f.text_area :introduce, :size=>"112x3" %>
      </div>

      <div class="admin-site-form-with-field">
        <%= f.label :tag, 'タグ', class: "" %>
        <span class="admin-site-form-tag">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
        </span>
      </div>

      <div class="admin-site-form-with-btn">
        <%= f.submit '編集を保存', class: "admin-site-btn"  %>
      </div>
    <% end %>
    </div>
  </div>